<div class="notes_index_new_button">
  <a class= "btn btn-default" href="#/notes/new">New Note</a>
</div>
<div class="row">
  <h1 class="notes_index_title">Shakespeare bits</h1>
  <div class="note_index_box">
    <div ng-repeat="note in notes" class="index_notes">
    <p><a ng-href="#/notes/{{note.id}}">{{note.title}}</a></p>
    <p>{{note.description}}</p>

      <div><p class='label label-info notes_index_bottom_line'>{{note.category.name}}</p><p class="notes_index_bottom_line notes_index_author">{{note.user.name}}</p></div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
