<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="/#/">Shakesbits</a>
      </div>
    </div>


    <ul class="nav navbar-nav">
      <li ng-class="{'active': isPage('notes')}"><a href="#/notes">Notes</a></li>
      <li ng-class="{'active': isPage('users')}"><a href="#/users">Users</a></li>
      <li ng-class="{'active': isPage('memory')}"><a href="#/memory">Memory</a></li>
    </ul>

  </div>
</nav>
